@model Contracts.DTOs.CustomerDto

@{
    ViewBag.Title = "Details";
}

<h2>Customer Details</h2>

<fieldset>
    <legend>CustomerDto</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FirstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LastName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MiddleName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MiddleName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateOfBirth)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateOfBirth)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AgeYears)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AgeYears)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AgeMonths)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AgeMonths)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HouseNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HouseNumber)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Street)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Street)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.City)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.City)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.State)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.State)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Zip)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Zip)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Gender)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Gender)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MaritalStatus)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MaritalStatus)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
